<!DOCTYPE html>
<html>
<head>
  <title>Nerd Junk-tion</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Nerd Junk-tion</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <%= form_tag "/products", method: :get, class: "navbar-form navbar-left" do %>
        <div class="form-group">
        <%= text_field_tag :search_terms, '', class: "form-control", placeholder: "Search" %>
        </div>
        <%= submit_tag "Submit", class: "btn btn-default" %>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/products/new">New product<span class="sr-only">(current)</span></a></li>
        <% if current_user %>
          <li><a href="/logout">Logout</a></li>
        <% else %>
          <li><a href="/signup">Signup</a></li>
          <li><a href="/login">Login</a></li>
        <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/products?sort_attribute=price&sort_order=asc">Sort by Price: Low to High</a></li>
            <li><a href="/products?sort_attribute=price&sort_order=desc">Sort by Price: High to Low</a></li>
            <li><a href="/products?max_price=20">Discount items</a></li>
            <li><a href="/products/random">Random item</a></li>
            <li role="separator" class="divider"></li>
            <% Category.all.each do |category| %>
              <li><a href="/products?category_id=<%= category.id %>"><%= category.name %></a></li>
            <% end %>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
<% flash.each do |name, message| %>
  <div class="alert alert-<%= name %> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><p><%= message %></p>
  </div>
<% end %>
<%= yield %>
</div>
</body>
</html>
